body {
  margin: 0;
  font-family: 'Titillium Web', sans-serif;
  font-weight: 600;
}

.container {
  width: 1140px;
  margin: 0 auto;
}

.header {
  height: 60px;
  display: flex;
  align-items: center;

  .container {
    display: flex;
    align-items: center;
  }

  &__logo {
    width: 40px;
    height: 40px;
    margin-right: 40px;

    img {
      width: inherit;
      height: inherit;
    }
  }

  .menu {
    &__item {
      a {
        padding: 10px;
      }
    }
  }
}


.content {
  background: #f7f8f8;
  padding: 20px 0;
  height: calc(100vh - 60px);

  &__main {

    .item-content__right {
      width: 250px;
    }

    .item-content {
      &__counter {
        font-size: 14px;
        margin-right: 30px;
      }

      &__points {
        position: relative;
        margin-right: 15px;
        font-size: 14px;

        .points-icon {
          content:"";
          border-style: solid;
          border-width: 0 6px 10px 6px;
          border-color: transparent transparent #000 transparent;
          position: absolute;
          left: -14px;
          top: 6px;
        }
      }

      &__title {
        font-size: 17px;
      }

      &__author {
        display: flex;
        align-items: center;
        font-size: 14px;

        img {
          width: 12px;
          height: 12px;
          margin-right: 5px;
        }
      }

      &__date {
        display: flex;
        align-items: center;
        font-size: 14px;

        img {
          width: 12px;
          height: 12px;
          margin-right: 5px;
        }
      }
    }
  }

  &__title {
    font-size: 24px;
    font-weight: 600;
    margin: 0;
  }

  &__item {
    position: relative;
    padding: 15px 0;
    display: flex;
    justify-content: space-between;

    &:before {
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      display: block;
      height: 1px;
      content: " ";
      border-top: 1px solid #e0e0e0;
    }
  }

  &__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
  }
}

.button {
  font-size: 16px;
  font-weight: 600;
  font-family: 'Titillium Web', sans-serif;
  display: inline-block;
  background-color: transparent;
  border-radius: 8px;
  padding: 4px 8px;
  min-width: 100px;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out, border-color 0.2s ease-in-out;
  border: 3px solid #000;

  &:hover {
    background-color: #000;
    color: #fff;
  }
}

.comment-block {
  padding: 40px;

  &__item {
    margin-bottom: 50px;
    padding: 20px;
    border: 1px solid #000;
    border-radius: 8px;
  }

  &__root-item {
    margin-bottom: 50px;
  }
}